@font-face {
    font-family: Poppins-bold;
    src: url(./fonts/Poppins-Bold.ttf);
 }

@font-face {
    font-family: Poppins-medium;
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-regular;
    src: url(./fonts/Poppins-Regular.ttf);
}

body {
    display: flex;
}

h1 {
    font-family: Poppins-bold, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5vh;
}

h2 {
    font-family: Poppins-medium, sans-serif;
    font-size: 2rem;
    text-align: left;
    width: 50vw;
    margin: 4vh 0;
}

.image-container, .sign-up-container {
    flex: 1;
}

.image-container {
    max-width: 40vw;
    height: 100vh;
    background-image: url(./img/simon-lee-zft-W1kVEhg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 20vh;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    background-color: #00000085;
    padding: 2vh 0;
}

#logo {
    width: 4vw;
    height: 5vw;
    
}
 
.credits-container {
    position: absolute;
    bottom: 1vh;
    width: 100%;
}

.credits-container p, .credits-container a {
    font-family: Poppins-regular;
    color: #fff;
    text-align: center;
}

.credits-container a {
    font-weight: bold;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9FAFB;
}

.heading {
    padding: 0 5vw;
}

.form-bg-color {
    background-color: #fff;
    width: 60vw;
    padding: 4vh 5vw;
    box-shadow: 5px 2px 8px #888888;
}

form {
    width: 50vw;
}

fieldset {
    border: none;
    display: flex;
    justify-content: flex-start;
    gap: 10vw;
}

legend {
    display: none;
}

.form-field {
    display: flex;
    flex-direction: column;
    height: 6vh;
    width: 10vw;
}

label {
    font-family: Poppins-regular, sans-serif;
    font-size: 1rem;
    color:#575757;
    text-transform: uppercase;
}

input:focus {
    border-bottom: 2px solid #0844B7;
    outline: none;
}

input:valid {
    border-bottom: 2px solid rgb(1, 143, 37);
}


input {
    border-bottom: 1px solid #dbdbdb;;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 3vh;
    width: 12vw;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.submit-btn-container {
    padding: 2vh 5vw;
}

.submit-btn-container button {
    background-color: #0844B7;
    color: #fff;
    font-family: Poppins-medium,sans-serif;
    font-weight: bold;
    font-size: 1.05rem;
    padding: 1vh 3vw;
    border: none;
    border-radius: 0.5vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.submit-btn-container a {
    color:#0844B7;
    font-family: Poppins-medium, sans-serif;
    font-weight: bold;
}

.submit-btn-container p {
    font-family: Poppins-medium, sans-serif;
    
}

